.label{
margin-bottom: 10px;
color: white;
}

.input{
width: 150px;
height: 20px;
border-radius: 4px;
margin-left: auto;
margin-right: auto;
/* border-color: rgb(206, 206, 207); */
border: none;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
outline: none;

}

.filter{
    display: flex;
    flex-direction: column;
}